<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/commonCss.css' %}">
    {% block link-rel %}{% endblock %}
</head>
<body>

    <div id = "homePageHeader">
        <img id="logoPic" src="{% static 'imagenes/picture4.jpg' %}">
        <h1>{% block homePageHeader %}Day Care Center {% endblock %}</h1>
    </div>
    
    
    <div id="homePageLinks" >
        <ul>
            <li><a href="{% url 'logInPage' %}">Log in</a></li>
        </ul>
    </div>

    <main>
        {% block main %}
        <!-- Contenido por defecto -->
        {% endblock %}
    </main>

</body>
</html>